@import "../../../utils/variables";

.container-vetrina {
    max-width: 90% !important;
    font: sans-serif !important;

    .row {
        align-items: center;
        padding: 60px 0;

        .vetrina-container {
            display: flex;
            color: black;
            height: 90%;
        }

        .text-container {
            align-items: center;
            opacity: 0;
            transform: translateY(20px);
            transition:
                opacity 1s ease,
                transform 1s ease;

            &.fade-in {
                opacity: 1;
                transform: translateY(0);
            }

            .text {
                font-size: 24px;
                font-weight: bold;
            }

            .description {
                font-size: 16px;
                margin-top: 10px;
            }
        }

        .image-container {
            img {
                height: 500px;
                max-width: 100%;
                overflow: hidden;
            }
        }
    }

    @media (max-width: $md) {
        max-width: 100% !important;
        padding-left: 0 !important;
        padding-right: 0 !important;

        .row {
            flex-direction: column;
            padding: 0 0 60px 0;

            .image-container {
                align-items: center;
                margin-top: 20px;
            }
        }
    }
}

#vetrinaStandard,
#vetrinaStandardR {
    background-color: $vetrina-1;
}

#multiVetrina,
#map {
    background-color: $vetrina-2;

    .container-vetrina {
        .row {
            flex-direction: row-reverse;
        }
    }
}

#multiVetrina {
    h2 {
        font-size: 3rem;
        font-weight: bold;
        color: black;
        text-align: center;
    }
}
