@import "../../../utils/variables";

.team-page {
    position: relative;
    top: 0;
    overflow: hidden;
    height: calc(100svh - $navbar-height-lg);
    //height: auto;
    background-color: black;
    padding: 20px;
}
