.player-card_team-image-container {
    position: relative; // posizione per posizionare i figli
    width: 80%;

    .cost-container {
        // posizione assoluta nel container
        position: absolute;
        top: 0;
        right: 0;

        //dimensione badge
        width: 30px;
        height: 30px;
    }

    
}
