@import "../../../utils/variables";

// CIRCLE ADD BUTTON
.circle-button-wrapper {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    position: relative;
    background: transparent;
    border: none;

    .circle-button {
        width: 100%;
        height: 100%;
        position: relative;
        border-radius: 50%;
        //box-shadow: 0 10px 30px rgba(65, 72, 86, 0.05);
        border: 3px solid;

        &::before,
        &::after {
            content: "";
            display: block;
            position: absolute;
            border-radius: 4px;
            background: #fff;
        }

        &::before {
            width: 2.5px;
            height: 18px;
        }

        &::after {
            width: 18px;
            height: 2.5px;
        }
    }
}

// FILTER BUTTON
.grid-button {
    border: 2px solid #0ca699;
    width: fit-content;
    white-space: nowrap;
    color: $lol-blue-2;
    font-size: 1rem;

    &:hover {
        background: $lol-blue-2;
    }
}

.active {
    background: $lol-blue-2 !important;
}
