.show {
    display: block !important;
}

.overlay-background {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    backdrop-filter: brightness(50%);
    overflow: hidden;
}
