//variables

$vetrina-1: #9e9e9e; //colori scelti a random, da cambiare quando abbiamo una palette
$vetrina-2: #f01919;
$vetrina-3: #1cc05b;

// NAVBAR HEIGHTS
/*$navbar-height-md: 60px;
$navbar-height-lg: 9svh;         modificare quando avremo la*/

// BREAKPOINTS VARIABLES
$xxl: 1400px;
$xl: 1200px;
$lg: 992px;
$md: 767px;
$sm: 575px;

// OFFER TEXT SIZES
$fs-default: 2rem;
$fs-xlarge: 1.7rem;
$fs-large: 1.5rem;
$fs-medium: 1.3rem;
$fs-small: 0.9rem;
