.player-card_filled {
    width: 67%;
    height: 80%;
    font-size: 1rem;
    color: rgb(199, 199, 199);
    position: relative;

    .player-card_text-container {
        #riot-id {
            font-size: 1.7rem;
            font-weight: 700;
            color: #c5c7be;
        }

        #team-name {
            font-size: 1.05rem;
            font-weight: 600;
            color: #797c7b;
        }
    }

    #role-logo {
        width: 45%;
    }

    .modify-player {
        position: absolute;
        bottom: 15%;

        //override card border-color
        border-color: #0dcaf0 !important;
    }
}
