.player-card_filled {
    width: 67%;
    height: 80%;
    font-size: 1rem;
    color: rgb(199, 199, 199);
    position: relative;

    .player-card_team-image-container {
        position: relative; // posizione per posizionare i figli

        #team-logo {
            top: 0px;
            width: 100%;
            height: auto;
            border-radius: 50%;
        }
    }

    .player-card_text-container {
        height: 20%;
        overflow: hidden;

        #riot-id {
            font-size: 22px;
            font-weight: 800;
            color: #c5c7be;
        }

        #team-name {
            font-size: clamp(8px, 12px, 14px);
            font-weight: 600;
            color: #797c7b;
            
        }
    }

    #role-logo {
        height: 15%;
    }

    .player-card_modify {
        //position: absolute;
        //bottom: 10%;
        height: 10%;

        //override card border-color
        .btn {
            border-color: #0dcaf0 !important;
        }
    }
}
