.player-card_filled {
    width: 67%;
    height: 70%;
    background: red;
    font-size: 1.7rem;

    .team-image-contaier {
        background: purple;
        width: 100%;
        height: auto;
        position: relative;

        #team-logo {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            width: 80%;
            height: auto;
            border-radius: 50%;
        }
    }

    #fullname {
        font-size: 1rem;
    }

    #role-logo {
        width: 70%;
    }
}
