@import "../../../utils/variables";
.team-group-container {
    max-width: 80%;

    .team-group {
        .custom-col {
            width: 20%;
            flex: 1 1 20%;
            margin: 0 10px;

            .player-card_container {
                width: 100%;
                height: 90%;

                .player-card_border {
                    position: relative;
                    top: 50%;
                    left: 50%;
                    transform: translate(-50%, -50%);
                    // Card Container, più grande per dare bordo alla card
                    height: 100%;
                    aspect-ratio: 3 / 8;
                    box-sizing: border-box;
                    clip-path: polygon(0 0, 100% 0%, 100% 88%, 50% 100%, 0 88%);
                    transition: background $animationTime ease;
                }

                // Colore del bordo
                .lol {
                    background: $lol-gold-4;

                    .player-card {
                        //background-color: $lol-blue-6; // Colore del banner

                        background: radial-gradient(
                            234.42% 84.65% at 74.23% 23.47%,
                            #1e2835 0%,
                            #111b2f 37%,
                            #091428 96.5%
                        );

                        transition: background $animationTime ease;

                        .btn {
                            border-color: $lol-gold-4;

                            &:active {
                                background: #060d1c; // Colore più scuro per il click
                            }
                        }
                    }
                }

                .valorant {
                    background: $valorant-red-1;

                    .player-card {
                        background: $valorant-grey; // Colore del banner

                        transition: background $animationTime ease;

                        .btn {
                            border-color: $valorant-red-1;

                            &:active {
                                background: #0a1018; // Colore più scuro per il click
                            }
                        }
                    }
                }
            }
        }
    }

    .team-confirm {
        width: 200px;
    }
}
