.filter-section {
    span {
        font-size: 1.5rem;
        font-weight: 700;
        color: black;
    }

    .filter-section_text {
        padding: 5px 10px;
        border: 1px solid black;
        border-radius: 10px;
        width: 100%;
        transition: border-color 0.3s;
        font-size: 1.1rem;
    }
}
